@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";


body {
  color: #eee4e4;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: #ffcc00;
  /* Color de fondo amarillo */
  color: #000;
  /* Color del texto negro */
}

body {
  margin: 0;
  background: #121212;
}

.monomakh-regular {
  font-family: "Monomakh", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Newsreader", serif;
  src: url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #eee4e4;
}


.ball {
  --delay: 0s;
  --speed: 20s;
  --size: 0.3;
  /* Reducimos el tamaño de la bola */

  /* Esta variable añade un offset vertical para centrar la bola */
  --base-offset: translateY(-50%);

  aspect-ratio: 1;
  width: calc(50% * var(--size));

  background: linear-gradient(259.53deg, #0A3FFF 6.53%, #F55F0A 95.34%);
  filter: blur(clamp(5px, 2vw, 20px));
  border-radius: 50%;

  /* Posicionamos la bola en una posición más centrada */
  position: fixed;
  top: 40%;
  /* Ajustamos la posición vertical */
  right: 30%;
  /* Ajustamos la posición horizontal */
  /* La animación se encarga de la transformación, que en cada fotograma incorpora el offset base */
  animation: loop var(--speed) infinite linear;
  animation-delay: var(--delay);
  transform-origin: 50% 50%;

  opacity: 0.4;
}

@keyframes loop {
  0% {
    transform: var(--base-offset) translate3D(0%, 50%, 0) rotate(0deg);
  }

  5% {
    transform: var(--base-offset) translate3D(8%, 30%, 0) rotate(18deg);
  }

  10% {
    transform: var(--base-offset) translate3D(22%, 12%, 0) rotate(36deg);
  }

  15% {
    transform: var(--base-offset) translate3D(40%, 1%, 0) rotate(54deg);
  }

  20% {
    transform: var(--base-offset) translate3D(46%, 20%, 0) rotate(72deg);
  }

  25% {
    transform: var(--base-offset) translate3D(50%, 45%, 0) rotate(90deg);
  }

  30% {
    transform: var(--base-offset) translate3D(53%, 75%, 0) rotate(108deg);
  }

  35% {
    transform: var(--base-offset) translate3D(59%, 90%, 0) rotate(125deg);
  }

  40% {
    transform: var(--base-offset) translate3D(74%, 80%, 0) rotate(144deg);
  }

  45% {
    transform: var(--base-offset) translate3D(82%, 60%, 0) rotate(162deg);
  }

  50% {
    transform: var(--base-offset) translate3D(90%, 45%, 0) rotate(180deg);
  }

  55% {
    transform: var(--base-offset) translate3D(87%, 20%, 0) rotate(198deg);
  }

  60% {
    transform: var(--base-offset) translate3D(70%, 7%, 0) rotate(216deg);
  }

  65% {
    transform: var(--base-offset) translate3D(58%, 20%, 0) rotate(234deg);
  }

  70% {
    transform: var(--base-offset) translate3D(49%, 35%, 0) rotate(251deg);
  }

  75% {
    transform: var(--base-offset) translate3D(40%, 55%, 0) rotate(270deg);
  }

  80% {
    transform: var(--base-offset) translate3D(28%, 70%, 0) rotate(288deg);
  }

  85% {
    transform: var(--base-offset) translate3D(11%, 85%, 0) rotate(306deg);
  }

  90% {
    transform: var(--base-offset) translate3D(3%, 70%, 0) rotate(324deg);
  }

  100% {
    transform: var(--base-offset) translate3D(0%, 50%, 0) rotate(360deg);
  }
}


@media screen and (max-width: 64em) {
  .ball {
    --delay: 0.5s;
    --speed: 10s;
    --size: 2;
    /* Hacemos que solo rote en el medio de la pantalla */
    top: 20%;
    right: 50%;

  }

}

.showcase {
  position: relative;
  isolation: isolate;
}

.showcase::before {
  content: "";
  position: fixed;
  top: -150%;
  left: -100%;
  z-index: -1;
  width: 350%;
  height: 350%;
  background-image: url("/assets/grain.png");
  opacity: 0.20;
}

/* Tracker for only big screens */
@media screen and (min-width: 64em) {

  /* Cursor tracker */
  .tracker {
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 0;
    transition:
      top 0.075s,
      left 0.075s,
      opacity 0.5s;
  }
}