---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="404 not found">
  <main>
    <div class="tracker"></div>
    <div class="glow-container">
      <div class="ball"></div>
      <div class="ball" style="--delay:-12s;--size:0.35;--speed:15s;"></div>
      <div class="ball" style="--delay:-10s;--size:0.3;--speed:9s;"></div>
    </div>
  </main>
  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="text-center">
      <h1 class="sm:text-9xl text-5xl font-bold text-white sm:mb-4 mb-2">
        404
      </h1>
      <h2 class="sm:text-4xl text-2xl font-semibold text-white sm:mb-8 mb-6">
        Page Not Found
      </h2>
      <p class="sm:text-xl text-lg text-white sm:mb-8 mb-6">
        Oops! The page you're looking for doesn't exist.
      </p>
      <a
        href="/"
        class="flex items-center gap-2 px-4 py-2 text-white transition w-fit mx-auto underline duration-150 first:pl-0 last:pr-0 hover:scale-110 hover:drop-shadow-[0px_0px_10px_#E05E58]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="sm:w-10 sm:h-10 border-2 border-white sm:p-2 p-1 w-6 h-6 rounded-sm"
          ><path d="M3 19V5"></path><path d="m13 6-6 6 6 6"></path><path
            d="M7 12h14"></path></svg
        >
        <span class="font-semibold sm:text-2xl text-xl"> Go Home</span>
      </a>
    </div>
  </div>
</Layout>
