---
import Badge from "../components/badge.astro";
import GoBack from "../components/goBack.astro";
import Layout from "../layouts/Layout.astro";

const { n_repo } = Astro.props;
---

<Layout title="Posts | renzofbn">
  <div class="tracker"></div>
  <div class="flex justify-center">
    <div class="container max-w-6xl text-left p-6">
      <div class="mb-6 mt-8">
        <GoBack url="/" />
        <h1 class="text-6xl mt-4">Projects</h1>
        <p>
          Este es un texto alineado a la izquierda dentro de una columna
          centrada.
        </p>
      </div>
      <div class="flex justify-between items-center">
        <p class="flex gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-git-fork"
            ><circle cx="12" cy="18" r="3"></circle><circle cx="6" cy="6" r="3"
            ></circle><circle cx="18" cy="6" r="3"></circle><path
              d="M18 9v2c0 .6-.4 1-1 1H7c-.6 0-1-.4-1-1V9"></path><path
              d="M12 12v3"></path></svg
          >

          {n_repo} repositories
        </p>
        <a
          href="https://github.com/renzofbn?tab=repositories"
          target="_blank"
          class="group hidden items-center space-x-[4px] text-sm tracking-tight opacity-70 transition-opacity duration-100 hover:opacity-100 md:flex"
          ><Badge>
            View on GitHub
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide-icon lucide lucide-chevron-right duration-150 group-hover:translate-x-[2px]"
            >
              <path d="m9 18 6-6-6-6"></path></svg
            >
          </Badge>
        </a>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-2">
        <slot />
      </div>
    </div>
  </div>
</Layout>
