---
import Badge from "../components/badge.astro";
import GoBack from "../components/goBack.astro";
import Layout from "../layouts/Layout.astro";

const { n_repo } = Astro.props;
---

<Layout title="Projects | renzofbn">
  <div class="tracker"></div>
  <div class="flex justify-center">
    <div class="container max-w-4xl text-left px-24 mt-16">
      <GoBack url="/" text="Home" />
      <div class="mt-8 border-b-2 border-neutral-800 pb-8">
        <h1 class="text-6xl mt-4 font-extrabold text-white mb-2">Projects</h1>
        <p class="text-lg text-gray-400">
          Este es un texto alineado a la izquierda dentro de una columna
          centrada.
        </p>
      </div>
      <slot />
    </div>
  </div>
</Layout>
