---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li class="pb-1">
  <a
    href={"#" + heading.slug}
    class="hover:text-[#A3A3A3] underline underline-offset-3 decoration-dotted font-bold"
  >
    {heading.text}
  </a>
  <!-- Ignore subheadings for now -->
  <!-- {
    heading.subheadings.length > 0 && (
      <ul class="pl-4">
        {heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  } -->
</li>
