---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li class="pb-1">
  <a
    href={"#" + heading.slug}
    class="underline underline-offset-3 decoration-dotted font-bold duration-150 first:pl-0 last:pr-0 hover:scale-110 hover:drop-shadow-[0px_0px_10px_#FF6467]"
  >
    {heading.text}
  </a>
  <!-- Ignore subheadings for now -->
  <!-- {
    heading.subheadings.length > 0 && (
      <ul class="pl-4">
        {heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  } -->
</li>
