---
const { title = "renzofbn" } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="showcase">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
	}
</style>
<script>
	const moveElements = (e: any) => {
		const tracker = document.querySelector(".tracker") as HTMLElement;

		tracker.style.top = `${e.clientY}px`;
		tracker.style.left = `${e.clientX}px`;
		tracker.style.opacity = "1";
	};

	document.addEventListener("mousemove", moveElements);
</script>
