---
const { title = "renzofbn" } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="renzofbn's portfolio" />
		<meta name="author" content="renzofbn" />
		<meta
			name="keywords"
			content="renzofbn, renzo dev, renzofbn dev, renzo valentin, renzo valentin dev, renzo valentin developer, renzo valentin software engineer"
		/>

		<!-- Open Graph (Facebook, LinkedIn, WhatsApp) -->
		<meta property="og:title" content="renzofbn" />
		<meta property="og:description" content="More than writing code" />
		<meta property="og:image" content="https://renzofbn.tech/preview.jpg" />
		<meta property="og:url" content="https://renzofbn.tech" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="renzofbn" />
		<meta name="twitter:description" content="More than writing code" />
		<meta name="twitter:image" content="https://renzofbn.tech/preview.jpg" />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />

		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />

		<meta name="subject" content="renzofbn's portfolio" />
		<meta name="category" content="renzofbn's portfolio" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebPage",
				"name": "renzofbn",
				"url": "https://renzofbn.tech",
				"author": {
					"@type": "Person",
					"name": "Renzo Valentin"
				},
				"description": "More than writing code",
				"inLanguage": "en"
			}
		</script>

		<title>{title}</title>
	</head>
	<body class="showcase">
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Geist";
		src: url("/fonts/Geist[wght].woff2") format("woff2");
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Geist mono";
		src: url("/fonts/GeistMono[wght].woff2") format("woff2");
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	html {
		font-family: "Geist", system-ui, sans-serif;
	}
</style>

<!-- <script>
	const moveElements = (e: any) => {
		const tracker = document.querySelector(".tracker") as HTMLElement;

		tracker.style.top = `${e.clientY}px`;
		tracker.style.left = `${e.clientX}px`;
		tracker.style.opacity = "1";
	};

	document.addEventListener("mousemove", moveElements);
</script> -->
